# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
.venv/
env/
venv/
ENV/

# Jupyter / IPython
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db

# Logs / temp
*.log
*.tmp
*.swp

# Cache файлов программы
tiles_cache.json

# Build artifacts
dist/
build/
*.spec
*.exe

# Docker
*.pid


